.alert {
  @apply fixed top-20 left-1/2 transform -translate-x-1/2 w-72 p-4 rounded-lg text-white text-center z-50 text-lg;
}

.alert p {
  @apply m-0;
}

.alert.success {
  @apply bg-green-500;
}

.alert.error {
  @apply bg-red-500;
}

.alert.info {
  @apply bg-blue-500;
}

.alert.process {
  @apply bg-yellow-500;
}

.alert .countdown {
  @apply absolute bottom-0 left-0 h-1 bg-white w-full;
  animation: countdown 4s linear forwards;
}

@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}.animate-marquee {
  @apply text-gray-500;
  white-space: nowrap; 
  overflow: hidden;
  display: block;
  animation: marquee 12s linear infinite; 
}

@keyframes marquee {
  from {
    transform: translateX(60%); 
  }
  to {
    transform: translateX(-30%); 
  }
}

.marquee-container {
  position: relative;
  margin-bottom: 0rem; 
  overflow: hidden; 
  padding-top: 0;
}
.marquee-text {
  display: inline-block;
  padding-left: 100%; 
  white-space: nowrap;
}

.hover\\:glow:hover {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}