.alert {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 15px 25px;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 1000;
  font-size: 20px;
}

.alert p {
  margin: 0;
}

.alert.success {
  background-color: #4caf50;
}

.alert.error {
  background-color: #f44336; 
}

.alert .countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: white;
  width: 100%;
  animation: countdown 4s linear forwards;
}

@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
